genlayer-test @ git+https://github.com/genlayerlabs/genlayer-testing-suite@d84591b58746a6202b56b720199ce7b9f12fd666
genvm-linter @ git+https://github.com/genlayerlabs/genvm-linter@28450e665666300fc648dbe495110dfd0cb6a7b4
genlayer-py @ git+https://github.com/genlayerlabs/genlayer-py@4ea0055f19c17e42d6837de7276b77a319c5e8b1
pytest==9.0.3
python-minifier==3.1.0
